header {
    display:block;
}

.name {
    float: left;
}

.links {
    float: right;
}

body {
    background-image: url("https://images.unsplash.com/photo-1586717799252-bd134ad00e26?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDczNnwwfDF8c2VhcmNofDN8fHByb2R1Y3QlMjBkZXNpZ258ZW58MHx8fHwxNjg0NTE0MDEyfDA&ixlib=rb-4.0.3&q=80&w=1080");
}